// Process-specific configurations
profiles {
    
    dsi{
        docker.enabled=true
    }

    offline {
        
        docker.enabled=false
        
    }

    imperial {

        docker.enabled = false
        singularity.enabled = true


        process {
            executor = 'pbspro'

            // General resource requirements
            errorStrategy = 'retry'
            maxRetries = 5
            maxErrors = '-1'
            queue = { 4 * task.attempt > 8 ? 'v1_small72' : 'v1_small24' }
            cpus = { 1 * task.attempt }
            memory = { 6.GB * task.attempt }
            time = { 4.h * task.attempt }

            // Process-specific resource requirements
            withLabel:process_single {
                cpus = 1
                memory = { 6.GB * task.attempt }
                time = { 4.h * task.attempt }
            }

            withLabel:process_low {
                cpus = { 2 * task.attempt }
                memory = { 12.GB * task.attempt }
                time = { 2.h * task.attempt }
            }

            withLabel:process_medium {
                queue = 'v1_medium72'
                cpus = { 9 * task.attempt }
                memory = { 36.GB * task.attempt }
                time = { 9.h * task.attempt }
            }

            withLabel:process_high {
                queue = 'v1_medium72'
                cpus = { 12 * task.attempt }
                memory = { 72.GB * task.attempt }
                time = { 14.h * task.attempt }
            }

            withLabel:process_long {
                queue = 'v1_medium72'
                cpus = 9
                memory = 96.GB
                time = { 14.h * task.attempt }
            }

            withLabel:process_high_memory {
                queue = { 200 * task.attempt < 921 ? 'v1_medium72' : 'v1_largemem72' }
                cpus = { 20 * task.attempt }
                memory = { 200.GB * task.attempt }
                time = { 24.h * task.attempt }
            }

            withLabel:process_gpu {
                queue = 'v1_gpu72'
                cpus = 10
                memory = '120.GB'
                time = '4.h'
                clusterOptions = "-l select=1:ncpus=10:mem=120gb:ngpus=1"
            }

            withLabel:process_higher_memory {
                queue = { 200 * task.attempt < 921 ? 'v1_medium72' : 'v1_largemem72' }
                cpus = { 20 * task.attempt }
                memory = { 400.GB * task.attempt }
                time = { 12.h * task.attempt }
            }

            
        }
    }
}